body {
  background: #f2f1ed;
}

.about {
  width: 580px;
  margin: auto;
}

h1 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #de5a51;
  font-size: 250%;
  margin-bottom: 4px;
}

h2 {
  font-family: Helvetica, sans-serif;
  color: #333333
  margin-bottom: 4px;
}

a{
  color: DarkBlue;
  text-decoration: none;
}

a:hover {
  color: #de5a51;
}

.social-icons {
  text-align: left;
  margin-top: 5px;
}

.social-icon{
  font-size: 25px;
  margin-right: 15px;
}

i {
    color: #333333;
}

i:hover {
    color: #de5a51;
}
